<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Avatar</title>
  <link rel="stylesheet" href="avatar.css" />
  <link rel="stylesheet" href="../css/combine.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <!-- Image-avatars -->
  <span class="avatar-container avatar-md">
    <img
      src="https://images.unsplash.com/photo-1505628346881-b72b27e84530?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit"
      alt="avatar" class="border-round" />
  </span>

  <span class="avatar-container avatar-x-lg">
    <img
      src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit"
      alt="avatar" class="border-round" />
  </span>

  <span class="avatar-container avatar-xx-lg">
    <img
      src="https://images.unsplash.com/photo-1598133894008-61f7fdb8cc3a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIxMzQ2ODk1&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit"
      alt="avatar" class="border-round" />
  </span>


  <!-- squre-avatar -->

  <div>
    <span class="avatar-container avatar-md">
      <img
        src="https://images.unsplash.com/photo-1586671267731-da2cf3ceeb80?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit"
        alt="avatar" class="border-squre" />
    </span>

    <span class="avatar-container avatar-x-lg">
      <img
        src="https://images.unsplash.com/photo-1571772805064-207c8435df79?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0MjY5OTU0Nw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080"
        alt="avatar" class="border-squre" />
    </span>

    <span class="avatar-container avatar-xx-lg">
      <img
        src="https://images.unsplash.com/photo-1583558085895-8c18d5473f0d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0MjY5OTU0Nw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080"
        alt="avatar" class="border-squre" />
    </span>
  </div>

  <!-- text-avatar -->

  <div>
    <span class="avatar-container avatar-md border-round avatar-primary"><span class="centre fs-xs">1</span></span>
    <span class="avatar-container avatar-x-lg border-round avatar-primary"><span class="centre fs-md">1</span></span>
    <span class="avatar-container avatar-xx-lg border-squre avatar-primary"><span class="centre fs-lg">1</span></span>
  </div>
  </div>

  <!-- icon-avatar -->

  <div>
    <span class="avatar-container avatar-md border-round avatar-primary"><span class="centre fs-xs"><i
          class="fas fa-question"></i></span></span>
    <span class="avatar-container avatar-x-lg border-round avatar-primary"><span class="centre fs-md"><i
          class="fas fa-question"></i></span></span>
    <span class="avatar-container avatar-xx-lg border-squre avatar-primary"><span class="centre fs-lg"><i
          class="fas fa-question"></i></span></span>
  </div>
  
</body>

</html>