:root{



    /* color */

    --primary:#6610f2;
    --secondary:#a2a2a2;
    --light:#f8f9fa;
    --dark: #161616;
    --success: #004510;
    --info: #005462;
    --warning:  #826100;
    --danger: #7c0000;


    --danger-bg:#ff757591;
    --warning-bg:#ffd65ca3;
    --info-bg:#45e6ffb5;
    --success-bg:#3de4638c;

}


