<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>badge</title>
    <link rel="stylesheet" href="../css/combine.css" />
    <link rel="stylesheet" href="badge.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>

    <!-- Text -->

    <span class="badge-container"
      >Lorem ipsum dolor<span
        class="overlap-badge-sm badge-end-top fs-xs badge-primary"
        >1</span
      ></span
    >

    <span class="badge-container"
      >Lorem ipsum dolor<span
        class="overlap-badge-sm badge-end-top badge-primary"
        >1</span
      ></span
    >

    <!-- Button -->

    <button class="badge-container btn btn-medium btn-secondary">
      <span>Badge</span>
      <span class="overlap-badge-sm badge-start-top fs-xs badge-primary"
        >1</span
      >
    </button>
    
    <button class="badge-container btn btn-medium btn-secondary">
      <span>Badge</span>
      <span class="overlap-badge-sm badge-end-top fs-xs badge-primary">1</span>
    </button>

    <!-- Icon -->

    <span class="badge-container"
      ><i class="fas fa-home fs-md"></i
      ><span class="overlap-badge-sm badge-end-top fs-xs badge-primary"
        >1</span
      ></span
    >

    <!-- With-badge -->

    <div class="badge-container">
      <span>
        <img
          src="https://images.unsplash.com/photo-1543466835-00a7907e9de1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
          alt="avatar"
          class="avatar-md border-round"
        />
      </span>
      <span
        class="border-badge-sm badge-end-bottom badge-active border-round"
      ></span>
    </div>

    <div class="badge-container">
      <span>
        <img
          src="https://images.unsplash.com/photo-1559190394-df5a28aab5c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGRvZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          alt="profile avatar"
          class="avatar-md border-round"
        />

        <img
          src="https://images.unsplash.com/photo-1555191525-74c91fc116c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTh8fGRvZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          alt="Image badge"
          class="border-badge-lg badge-end-bottom badge-active border-round"
        />
      </span>
    </div>
  </body>
</html>
