<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert</title>
    <link rel="stylesheet" href="alert.css" />
    <link rel="stylesheet" href="../css/combine.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>

    <!-- alert-with-basic -->

    <div class="alert-container alert-error">
      <p>This is an error alert — check it out!</p>
    </div>

    <div class="alert-container alert-warning">
      <p>This is a warning warning — check it out!</p>
    </div>

    <div class="alert-container alert-info">
      <p>This is an info info — check it out!</p>
    </div>

    <div class="alert-container alert-success">
      <p>This is a success success — check it out!</p>
    </div>

    <!-- alert-with-icon -->

    <div class="alert-container alert-error alert-icons">
      <div>
        <span> <i class="fas fa-exclamation-circle"></i></span>
      </div>
      <div>
        <p>This is an error alert with icon - check it out!</p>
      </div>
    </div>

    <!-- alert-with-description -->
    
    <div class="alert-container alert-error alert-icons">
      <div>
        <span> <i class="fas fa-exclamation-circle"></i></span>
      </div>
      <div>
        <h3>Error</h3>
        <p>This is an error alert with description - check it out!</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque,
          distinctio!
        </p>
      </div>
    </div>

    <!-- alert-with-action -->

    <div class="alert-container alert-error alert-action">
      <div class="alert-icons">
        <div>
          <span> <i class="fas fa-exclamation-circle"></i></span>
        </div>
        <div>
          <p>This is an error alert with icon - check it out!</p>
        </div>
      </div>
      <div>
        <button>
          <span><i class="far fa-times-circle"></i></span>
        </button>
      </div>
    </div>
  </body>
</html>
